@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --button-box: 0 0% 95%;
    --foreground: 220 16% 12%;

    --card: 0 0% 100%;
    --card-foreground: 220 16% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 16% 12%;

    --primary: 24 81% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 4% 74%;
    --secondary-foreground: 220 16% 12%;

    --muted: 220 4% 90%;
    --muted-foreground: 220 4% 55%;

    --accent: 220 4% 94%;
    --accent-foreground: 220 16% 12%;

    --destructive: 5 100% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 100% 39%;
    --success-foreground: 0 0% 100%;

    --warning: 24 80% 55%;
    --warning-foreground: 220 16% 12%;

    --border: 220 4% 74%;
    --input: 220 4% 74%;
    --ring: 24 81% 55%;

    --status-box: 220 4% 94%;
    --progress-track: 220 4% 85%;

    --overdue-box: 249 31% 15%;
    --paid-box: 193 96% 10%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --font-heading: 'Merriweather', Georgia, serif;
    --font-body: 'Lato', -apple-system, sans-serif;
    --font-mono: 'Space Mono', 'Courier New', monospace;
  }

  .dark {
    --background: 220 100% 2%;
    --foreground: 0 0% 100%;
    --button-box: 217 52% 11%;

    --card: 214 94% 7%;
    --card-foreground: 0 0% 100%;

    --popover: 216 62% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 24 81% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 6% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 216 6% 25%;
    --muted-foreground: 220 4% 38%;

    --accent: 216 6% 25%;
    --accent-foreground: 0 0% 100%;

    --destructive: 5 100% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 100% 39%;
    --success-foreground: 0 0% 100%;

    --warning: 24 80% 55%;
    --warning-foreground: 0 0% 100%;

    --border: 220 4% 38%;
    --input: 220 4% 38%;
    --ring: 24 81% 55%;

    --status-box: 219 55% 16%;
    --progress-track: 216 46% 19%;
    --undo-button: 216 43% 21%;

    --overdue-box: 249 31% 15%;
    --paid-box: 193 96% 10%;

    --sidebar-background: 216 96% 10%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 24 81% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 6% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 4% 38%;
    --sidebar-ring: 24 81% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}
